* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
    color: white;
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    background: #0e0e0e;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 45px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.logo span {
    color: #ff9800;
}

.logo:hover {
    transform: scale(1.05);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 2px solid #222;
    padding: 8px 22px;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav-links a:hover,
.nav-links a.active {
    background: #ff9800;
    color: black;
    border-color: #ff9800;
    transform: scale(1.1);
    font-weight: bolder;
}

/* ===== HOME ===== */
.hero {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 40px 10%;
}

.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 10px solid #ff9800;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}

.circle:hover {
    transform: scale(1.05);
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.img-hovered{
    opacity: 0;
    transition: opacity 0.4s ease;
}
.circle:hover .img-hovered{
    opacity: 1;
}

.intro {
    font-size: 25px;
}

.accent1 {
    color: #ff9800;
    font-size: 100px;
}

.accent2 {
    color: #ff9800;
    font-size: 60px;
}

.hire {
    margin-top: 25px;
    background: #ff9800;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    transform: scale(1.1);
}

/* ===== MY PROJECTS ======= */
.projects {
    padding: 25px 80px;
}
.projectbtn{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.top-buttons{
    background-color: #141414;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.probtn {
    background-color: #ff9800;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    padding: 8px 20px;
    border-radius: 30px;
    font-weight: bolder;
    cursor: pointer;
}
.probtn:hover{
    transform: scale(1.1);
}
.active-btn{
    background-color: white;
    color: black;
    font-weight: bolder;
    transform: scale(1.05);
}
.content-project {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.leftbox {
    flex: 2;
}
.project-box {
    background: #141414;
    padding: 15px 25px 25px 25px;
    border-radius: 30px;
    text-align: center;
}
.project-box h2 {
    color: #ff9900;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
.myframe {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    border: 5px solid #ff9800;
    background: black;
}
.rightbox {
    flex: 1;
}
.discription {
    background: #141414;
    padding: 15px 25px 25px 25px;
    border-radius: 30px;
    min-height: 500px;
    text-align: center;
}
.discription h2 {
    color: #ff9900;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.description-inner-box {
    border: 5px solid #ff9800;
    border-radius: 35px;
    padding: 25px;
    text-align: left;
    min-height: 450px;
}
.desc-label {
    color: #ff9800;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}
.desc-label:first-child {
    margin-top: 0;
}
#project-details p {
    text-align: left;
    line-height: 1.4;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

/* ===== ABOUT ME ===== */
.about {
    padding: 50px;
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.circle-about img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 8px solid #ff9800;
    object-fit: cover;
}

.rightcontent {
    flex: 1;
}

.rightcontent h2 {
    font-size: 45px;
    color: #ff9800;
    margin-bottom: 20px;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 800px;
}

.about-box, .complang, .skills, .goal, .hobbies {
    background: #141414;
    padding: 25px;
    border-radius: 18px;
}

.about-box h3, .complang h3, .skills h3, .goal h3, .hobbies h3 {
    color: #ff9800;
    font-size: 25px;
    margin-bottom: 5px;
    text-align: left;
}

.about-box p, .grid ul{
    font-size: 18px;
    line-height: 1.7;
    text-align: left;
}
.grid ul{
    padding-left: 30px;
}

.about-box {
    grid-column: span 2;
}

.about-box p{
    text-align: justify;
}

/* ===== CONTACT ME ===== */
.contact {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10%;
}

.contact-box {
    background: #141414;
    padding: 40px 30px;
    border-radius: 40px;
    border: 1px solid #222;
    text-align: center;
    max-width: 370px;
    width: 100%;
}

.contact-box h1 {
    color: #ff9800;
    font-size: 38px;
    margin: 10px 20px;
    letter-spacing: 1px;
}

.contact-icons, .social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-icons a i, .social-icons a i {
    color: #ff9800;
    font-size: 45px;
    transition: 0.4s;
}

.contact-icons a:hover i, 
.social-icons a:hover i{
    color: white;
    transform: scale(1.2);
}